/* Variables */
@import './_variables.css';

/* RESET */
html {
  font-size: 20px;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow: hidden;
}

/* GAME */
canvas#game {
  display: block;
  background-color: var(--bg-color);
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
