body {
  margin: 0;
}

canvas {
  display: block;
  background-color: #333;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
